@model IEnumerable<Eduketa_Proj.Models.Contact>
@{
    ViewBag.Title = "Enquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    @{ int userid = (int)Session["userid"];
        var data = Model.FirstOrDefault(x => x.userid == userid);}
   <p class="h2">Welcome! <span class="h2 text-info">@data.UserName</span></p>
    <div class="row">
        @foreach (var x in Model)
        {
        <div class="col-lg-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="" alt="">

                <div class="card-body">
                    
                    <p class="card-title">Subject:<span>@x.Subject</span></p>
                    <p class="card-text">
                        @x.Message
                    </p>

                    <a href="#" class="btn btn-primary btn-sm">
                        Response
                    </a>
                    
                </div>
            </div>
        </div>
        }
