@model IEnumerable<Eduketa_Proj.Models.Contact>
@{
    ViewBag.Title = "Enquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    @{ int userid = (int)Session["userid"];
        var data = Model.FirstOrDefault(x => x.userid == userid);}
    @if (data != null)
    {
   <p class="h2">Welcome! <span class="h2 text-info">@data.UserName</span></p>
    <div class="row">
        @foreach (var x in Model)
        {
        <div class="col-lg-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="" alt="">

                <div class="card-body">
                    
                    <p class="card-title">Subject:<span>@x.Subject</span></p>
                    <p class="card-text">
                        @x.Message
                    </p>
                    
                        @if (x.Resp != null)
                        {<p>
    Response:
    <span class="text-info"> @x.Resp</span></p>
                        }
                        else
                        {
    <span class=" btn btn-block  btn-outline-danger">We'll Respond Soon</span>
                        }

                </div>
            </div>
        </div>
        }
        </div>
    }
            else
            {
                <div class="container">
                    <div class="row ">
                        <div class="col-md-12">
                            <span class="h2 text-danger">
                                Ask Us Something <a href="/Home/Contact" class="btn btn-success">Here..!</a>
                            </span>
                        </div>
                    </div>

                </div>
            }


</div>