@model Eduketa_Proj.Controllers.pwdmodel
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div  class="container">
    <div class="contact-form">
        <form action="/Home/Password" method="post">

            <div class="row">
                <div class="col-3 form-group"></div>
                <div class="col-6  form-group">
                    <input type="password" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Old Password" name="password">
                  @Html.ValidationMessageFor(m=>m.password,"",new { @class="text-danger"})
                    @if (ViewBag.msg != null)
                    {
                        <span class=" text-danger">@ViewBag.msg</span>
                    }
                </div>

            </div>
            <div class="row">
                <div class="col-3 form-group"></div>
                <div class="col-6  form-group">
                    <input type="password" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="New Password" name="newpwd">@Html.ValidationMessageFor(m => m.newpwd, "", new { @class = "text-danger" })
                    @if (ViewBag.msg1 != null)
                    {
                        <span class=" text-danger">@ViewBag.msg1</span>
                    }
                </div>
              
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 form-group">
                    <input type="submit" class="btn  btn-outline-danger" />
                    <a href="/Home/Account" class="btn btn-outline-success border-0">Cancel</a>
                </div>
            </div>
        </form>
 </div>
</div>

