
@{
    ViewBag.Title = "Become a Seller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Become a Seller</h2>

<div class="row justify-content-center bg-image mx-0 mb-5">
    <div class="col-lg-6 py-5">
        <div class="bg-white  p-5 my-5">



            <div class="col-12">
                <a href="SellerSignup" class="text-white btn btn-success py-3 px-5">Join Us</a> <span class="px-5 text-danger  font-weight-bolder">Already A seller? <a href="/Admin/Login" class="btn btn-primary">Login here</a></span>

            </div>
           

        </div>
    </div></div>