@model Eduketa_Proj.Models.Seller
@{
    ViewBag.Title = "Seller Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form-group">
        <form action="/Home/SellerPassword" method="post">
            <div class="col-6 form-group">
                <input type="hidden" value="@Model.id" name="s_id"/>
                <input type="password" name="password" class="form-control" placeholder="Enter your new password"/>
            </div>
            <div class="col-6 form-group">
                <input type="password" name="confirm_pwd" class="form-control" placeholder="confirm password"/>
            </div>
            <div class="col-6 form-group">
                <input type="submit" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>
