@model Eduketa_Proj.Models.Seller
@{
    ViewBag.Title = "Seller_Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    
    <span>Enter the OTP sent to your Email:<span class="font-weight-bold text-black-50">@Model.email_add</span></span>
</div>
<div class="row justify-content-center bg-image mx-0 mb-5">
    
    <div class="col-lg-6 py-5">
        <div class="bg-white p-5 my-5">
            <h1 class="text-center mb-4">Verification</h1>
            <form action="/Home/Seller_Verifications" method="post">
                <div class="form-group">
                    
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control bg-light border-0" placeholder="Enter Your OTP" name="OTP" style="padding: 30px 20px;">
                        </div>
                    </div>
                </div>
                <input type="hidden" value="@Model.email_add" name="email" />


                <div class="col-sm-12">
                    <button class="btn btn-primary btn-block" type="submit" style="height: 60px;">Sign Up Now</button>

                </div>
            </form>
        </div>
    </div></div>
