
@{
    ViewBag.Title = "AddCourse";
    Layout = "~/Views/Shared/_AdminHome.cshtml";
}

<div class="row justify-content-center bg-image mx-0 mb-5">
    <div class="col-lg-6 py-5">
        <div class="bg-white p-5 my-5">
            <h1 class="text-center mb-4">Add New Courses</h1>
            <!-------------Add Course Form--------->
            <form action="/Admin/AddCourse" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control bg-light border-0" placeholder="Course Name" name="name" style="padding: 30px 20px;">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control bg-light border-0" placeholder="Course Price" name="price" style="padding: 30px 20px;">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control bg-light border-0" placeholder="Course Description" name="description" style="padding: 30px 20px;">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group input-group">
                            <div class="custom-file ">
                                <input type="file" class="custom-file-input" name="image">
                                <label class="custom-file-label">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-">
                    <input type="Submit" class="btn btn-primary btn-block" value="Add Course" style="padding: 10px 5px;">
                </div>

            </form>
        </div>
    </div>
</div>

