@model Eduketa_Proj.Models.Seller
@{
    ViewBag.Title = "Admin_Dashboard";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}


    <div class="container">
        <div class="row">
            <div class="col-lg-9">

                <img src="~/img/Admin image/blank_profile.png" alt="Profile Picture" width="15%" class="float-right rounded-circle mb-3">
            </div>
        </div>

        <!-- Main Content -->
        <div class="row">
            <div class="col-12">
                Name
            </div>
        </div>
    </div>
