
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminHome.cshtml";
}


<div class="row justify-content-center bg-image mx-0 mb-5">
    <div class="col-lg-6 py-5">
        <div class="bg-white p-5 my-5">
            @Html.ValidationSummary()
            <h1 class="text-center mb-4">Login</h1>
            <!-------------Login Form--------->
            <form action="/Admin/Login" method="post">
                <div class="form-row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control bg-light border-0" placeholder="Email" name="email" style="padding: 30px 20px;">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="password" class="form-control bg-light border-0" placeholder="Password" name="password" style="padding: 30px 20px;">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="Submit" class="btn btn-primary btn-block" value="Login" style="padding: 10px 5px;">
                    </div>

                    <div class="col-sm-6">
                        <a href="/Home/Forget">Forgot Password?</a>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>

<h1>@TempData["hello"]</h1>

<script>
    
</script>